unpackaged/main/default/flows/Gather_Agent_Support_Feedback.flow-meta.xml
<?xml version="1.0" encoding="utf-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Escalate_to_Human_Support</name>
        <label>Escalate to Human Support</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>CaseEscalationEmailHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseEscalationEmailHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Agent_Tracker</name>
        <label>Update Agent Tracker</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>CaseHoldingEmailHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseHoldingEmailHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <constants>
        <name>AgentReview</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>LowAgentReview</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Decision Element for True or False</description>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Escalate_to_Human_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Satisfaction</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LowAgentReview</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agent_Tracker</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gather Agent Support Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gather Agent Support Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Satisfaction</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
